In [16]:
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objs as go

In [93]:
df = (pd.read_csv('data/rand.csv', parse_dates = ['date'])
        .drop(columns = 'Unnamed: 0', axis = 1))
df.head()

        date  amount     bal
0 2017-01-29    60.0   696.4
1 2017-01-29   200.0   896.4
2 2017-01-29   -39.9   856.5
3 2017-01-29   -95.0   761.5
4 2017-01-30   410.0  1171.5

In [20]:
trace = go.Scatter(x = df.index, 
                   y = df['amount'])

data = [trace]

plotly.plotly.iplot(data, filename = 'basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~racpo6/0 or inside your plot.ly account where it is named 'basic-line'

In [34]:
plotly.offline.plot({'data': [go.Scatter(x=df.date, y=df.amount)],
                     'layout': go.Layout(title="Hi Rachel")},
                      auto_open=True)

'temp-plot.html'

In [35]:
daily = df.groupby('date')[['amount', 'bal']].agg({'amount':'sum', 'bal':'last'})
daily

plotly.offline.plot({'data': [go.Scatter(x = daily.index, 
                                         y = daily.amount)],
                     'layout': go.Layout(title = "Daily spend")})

'temp-plot.html'

In [157]:
spend = (df.copy()
          .loc[df['amount']<0]
          .reset_index(drop=True)
          .assign(cumulative_annual = lambda x: x.groupby(x['date'].dt.year)['amount'].cumsum(),
                  cumulative_month = lambda x: x.groupby(x['date'].dt.month)['amount'].cumsum()))
spend.head()

        date  amount     bal  cumulative_annual  cumulative_month
0 2017-01-29  -39.90  856.50             -39.90            -39.90
1 2017-01-29  -95.00  761.50            -134.90           -134.90
2 2017-01-30 -410.00  761.50            -544.90           -544.90
3 2017-01-30  -40.15  721.35            -585.05           -585.05
4 2017-01-30  -25.85  695.50            -610.90           -610.90

In [165]:
daily_spend = (df.copy()
                 .loc[df['amount']<0]
                 .groupby('date')[['amount', 'bal']].agg({'amount':'sum', 'bal':'last'})
                 .reset_index()
                 .assign(cumulative_annual = lambda x: x.groupby(x['date'].dt.year)['amount'].cumsum(),
                         cumulative_month = lambda x: x.groupby(x['date'].dt.month)['amount'].cumsum()))

daily_spend.head()

        date  amount     bal  cumulative_annual  cumulative_month
0 2017-01-29 -134.90  761.50            -134.90           -134.90
1 2017-01-30 -476.00  695.50            -610.90           -610.90
2 2017-01-31 -625.52   69.98           -1236.42          -1236.42
3 2017-02-01  -63.23   42.75           -1299.65            -63.23
4 2017-02-02   -4.50  538.25           -1304.15            -67.73

In [126]:
test = pd.DataFrame({'2017': [300, 400, 420], 
                     '2018': [150, 170, 510]},
                     index = ['1-Jan', '2-Jan', '3-Jan'])
test

       2017  2018
1-Jan   300   150
2-Jan   400   170
3-Jan   420   510

In [138]:
trace0 = go.Scatter(x = test.index, 
                   y = test['2017'], 
                   name = '2017', 
                   line = dict(color = ('rgb(147,147,147)'), 
                           width = 2))
trace1 = go.Scatter(x = test.index, 
                   y = test['2018'], 
#                    mode = 'lines', 
                   name = '2018', 
                   line = dict(color = ('rgb(0,0,0)'), 
                           width = 4))

plotly.offline.plot({'data': [trace0, trace1],
                     'layout': go.Layout(title="Hi Rachel")},
                      auto_open=True)

'temp-plot.html'

In [145]:
import plotly.plotly as py
import plotly.graph_objs as go

title = 'Hello Rachel'

labels = ['Television', 'Newspaper', 'Internet', 'Radio']

colors = ['rgb(67,67,67)', 'rgb(115,115,115)', 'rgb(49,130,189)', 'rgb(189,189,189)']

mode_size = [8, 8, 12, 8]

line_size = [2, 2, 4, 2]

x_data = [
    [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
    [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
    [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
    [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013],
]

y_data = [
    [74, 82, 80, 74, 73, 72, 74, 70, 70, 66, 66, 69],
    [45, 42, 50, 46, 36, 36, 34, 35, 32, 31, 31, 28],
    [13, 14, 20, 24, 20, 24, 24, 40, 35, 41, 43, 50],
    [18, 21, 18, 21, 16, 14, 13, 18, 17, 16, 19, 23],
]

traces = []

for i in range(0, 4):
    traces.append(go.Scatter(
        x=x_data[i],
        y=y_data[i],
        mode='lines',
        line=dict(color=colors[i], width=line_size[i]),
        connectgaps=True,
    ))

    traces.append(go.Scatter(
        x=[x_data[i][0], x_data[i][11]],
        y=[y_data[i][0], y_data[i][11]],
        mode='markers',
        marker=dict(color=colors[i], size=mode_size[i])
    ))

layout = go.Layout(
    xaxis=dict(
        showline=True,
        showgrid=False,
        showticklabels=True,
        linecolor='rgb(204, 204, 204)',
        linewidth=2,
        ticks='outside',
        tickcolor='rgb(204, 204, 204)',
        tickwidth=2,
        ticklen=5,
        tickfont=dict(
            family='Arial',
            size=12,
            color='rgb(82, 82, 82)',
        ),
    ),
    yaxis=dict(
        showgrid=False,
        zeroline=False,
        showline=False,
        showticklabels=False,
    ),
    autosize=False,
    margin=dict(
        autoexpand=False,
        l=100,
        r=20,
        t=110,
    ),
    showlegend=False
)

annotations = []

# Adding labels
for y_trace, label, color in zip(y_data, labels, colors):
    # labeling the left_side of the plot
    annotations.append(dict(xref='paper', x=0.05, y=y_trace[0],
                                  xanchor='right', yanchor='middle',
                                  text=label + ' {}%'.format(y_trace[0]),
                                  font=dict(family='Arial',
                                            size=16),
                                  showarrow=False))
    # labeling the right_side of the plot
    annotations.append(dict(xref='paper', x=0.95, y=y_trace[11],
                                  xanchor='left', yanchor='middle',
                                  text='{}%'.format(y_trace[11]),
                                  font=dict(family='Arial',
                                            size=16),
                                  showarrow=False))
# Title
annotations.append(dict(xref='paper', yref='paper', x=0.0, y=1.05,
                              xanchor='left', yanchor='bottom',
                              text='Main Source for News',
                              font=dict(family='Arial',
                                        size=30,
                                        color='rgb(37,37,37)'),
                              showarrow=False))
# Source
annotations.append(dict(xref='paper', yref='paper', x=0.5, y=-0.1,
                              xanchor='center', yanchor='top',
                              text='Source: PewResearch Center & ' +
                                   'Storytelling with data',
                              font=dict(family='Arial',
                                        size=12,
                                        color='rgb(150,150,150)'),
                              showarrow=False))

layout['annotations'] = annotations

fig = go.Figure(data=traces, layout=layout)
plotly.offline.plot(fig, filename='news-source')

'news-source.html'

In [149]:
spend

           date   amount      bal  cumulative annual
2    2017-01-29   -39.90   856.50             -39.90
3    2017-01-29   -95.00   761.50            -134.90
5    2017-01-30  -410.00   761.50            -544.90
6    2017-01-30   -40.15   721.35            -585.05
7    2017-01-30   -25.85   695.50            -610.90
8    2017-01-31   -43.50   652.00            -654.40
9    2017-01-31   -16.59   635.41            -670.99
10   2017-01-31    -8.00   627.41            -678.99
11   2017-01-31    -5.75   621.66            -684.74
12   2017-01-31  -485.00   136.66           -1169.74
13   2017-01-31   -18.55   118.11           -1188.29
14   2017-01-31   -40.14    77.97           -1228.43
15   2017-01-31    -7.99    69.98           -1236.42
17   2017-02-01   -32.93    73.05           -1269.35
18   2017-02-01   -10.30    62.75           -1279.65
19   2017-02-01   -10.00    52.75           -1289.65
20   2017-02-01   -10.00    42.75           -1299.65
22   2017-02-02    -4.50   538.25           -1304.15
23   2017-02-03   -20.00   518.25           -1324.15
24   2017-02-03    -4.40   513.85           -1328.55
25   2017-02-03    -7.00   506.85           -1335.55
26   2017-02-04   -20.00   486.85           -1355.55
27   2017-02-04   -19.46   467.39           -1375.01
28   2017-02-04   -12.06   455.33           -1387.07
29   2017-02-04   -22.60   432.73           -1409.67
30   2017-02-04   -10.99   421.74           -1420.66
31   2017-02-06   -25.85   395.89           -1446.51
32   2017-02-07    -8.00   387.89           -1454.51
33   2017-02-08   -34.00   353.89           -1488.51
34   2017-02-08   -29.00   324.89           -1517.51
...         ...      ...      ...                ...
3457 2019-04-18   -40.00    93.31          -36402.76
3458 2019-04-19    -9.00    84.31          -36411.76
3460 2019-04-23   -13.50   170.81          -36425.26
3461 2019-04-24   -26.00   144.81          -36451.26
3462 2019-04-24   -12.99   131.82          -36464.25
3463 2019-04-24    -8.00   123.82          -36472.25
3464 2019-04-24   -12.60   111.22          -36484.85
3465 2019-04-24    -1.50   109.72          -36486.35
3467 2019-04-25   -60.00  5110.16          -36546.35
3468 2019-04-25  -870.00  4240.16          -37416.35
3469 2019-04-25  -150.00  4090.16          -37566.35
3470 2019-04-25  -343.87  3746.29          -37910.22
3471 2019-04-25  -780.00  2966.29          -38690.22
3472 2019-04-25    -4.80  2961.49          -38695.02
3473 2019-04-25   -46.11  2915.38          -38741.13
3474 2019-04-25   -20.00  2895.38          -38761.13
3475 2019-04-25    -3.30  2892.08          -38764.43
3476 2019-04-25    -8.20  2883.88          -38772.63
3477 2019-04-25 -2300.00   583.88          -41072.63
3479 2019-04-26   -14.70   596.18          -41087.33
3480 2019-04-26  -175.00   421.18          -41262.33
3481 2019-04-27    -9.99   411.19          -41272.32
3482 2019-04-27    -9.50   401.69          -41281.82
3483 2019-04-27    -2.99   398.70          -41284.81
3484 2019-04-27    -4.70   394.00          -41289.51
3485 2019-04-27    -8.00   386.00          -41297.51
3486 2019-04-27    -6.00   380.00          -41303.51
3487 2019-04-30   -10.36   369.64          -41313.87
3488 2019-04-30    -8.10   361.54          -41321.97
3489 2019-04-30  -102.65   258.89          -41424.62

[2993 rows x 4 columns]