In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv('data/rand.csv')

      Unnamed: 0        date   amount      bal
0              0  2017-01-29    60.00   696.40
1              1  2017-01-29   200.00   896.40
2              2  2017-01-29   -39.90   856.50
3              3  2017-01-29   -95.00   761.50
4              4  2017-01-30   410.00  1171.50
5              5  2017-01-30  -410.00   761.50
6              6  2017-01-30   -40.15   721.35
7              7  2017-01-30   -25.85   695.50
8              8  2017-01-31   -43.50   652.00
9              9  2017-01-31   -16.59   635.41
10            10  2017-01-31    -8.00   627.41
11            11  2017-01-31    -5.75   621.66
12            12  2017-01-31  -485.00   136.66
13            13  2017-01-31   -18.55   118.11
14            14  2017-01-31   -40.14    77.97
15            15  2017-01-31    -7.99    69.98
16            16  2017-01-31    36.00   105.98
17            17  2017-02-01   -32.93    73.05
18            18  2017-02-01   -10.30    62.75
19            19  2017-02-01   -10.00    52.75
20            20  2017-02-01   -10.00    42.75
21            21  2017-02-01   500.00   542.75
22            22  2017-02-02    -4.50   538.25
23            23  2017-02-03   -20.00   518.25
24            24  2017-02-03    -4.40   513.85
25            25  2017-02-03    -7.00   506.85
26            26  2017-02-04   -20.00   486.85
27            27  2017-02-04   -19.46   467.39
28            28  2017-02-04   -12.06   455.33
29            29  2017-02-04   -22.60   432.73
...          ...         ...      ...      ...
3461        3461  2019-04-24   -26.00   144.81
3462        3462  2019-04-24   -12.99   131.82
3463        3463  2019-04-24    -8.00   123.82
3464        3464  2019-04-24   -12.60   111.22
3465        3465  2019-04-24    -1.50   109.72
3466        3466  2019-04-24  5060.44  5170.16
3467        3467  2019-04-25   -60.00  5110.16
3468        3468  2019-04-25  -870.00  4240.16
3469        3469  2019-04-25  -150.00  4090.16
3470        3470  2019-04-25  -343.87  3746.29
3471        3471  2019-04-25  -780.00  2966.29
3472        3472  2019-04-25    -4.80  2961.49
3473        3473  2019-04-25   -46.11  2915.38
3474        3474  2019-04-25   -20.00  2895.38
3475        3475  2019-04-25    -3.30  2892.08
3476        3476  2019-04-25    -8.20  2883.88
3477        3477  2019-04-25 -2300.00   583.88
3478        3478  2019-04-25    27.00   610.88
3479        3479  2019-04-26   -14.70   596.18
3480        3480  2019-04-26  -175.00   421.18
3481        3481  2019-04-27    -9.99   411.19
3482        3482  2019-04-27    -9.50   401.69
3483        3483  2019-04-27    -2.99   398.70
3484        3484  2019-04-27    -4.70   394.00
3485        3485  2019-04-27    -8.00   386.00
3486        3486  2019-04-27    -6.00   380.00
3487        3487  2019-04-30   -10.36   369.64
3488        3488  2019-04-30    -8.10   361.54
3489        3489  2019-04-30  -102.65   258.89
3490        3490  2019-04-30   200.00   458.89

[3491 rows x 4 columns]